force-app/main/default/flows/AIM_IncidentOrchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>What_Status</name>
        <label>Incident Status?</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_First_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IncidentStatus.Outputs.incidentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Response</targetReference>
            </connector>
            <label>New (First Response)</label>
        </rules>
        <rules>
            <name>isOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IncidentStatus.Outputs.incidentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Categorization_Stage</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>isIn_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IncidentStatus.Outputs.incidentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Stage</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>isResolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IncidentStatus.Outputs.incidentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolution_Stage</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>isCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IncidentStatus.Outputs.incidentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closure_Stage</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>isClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IncidentStatus.Outputs.incidentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closure_Stage</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AIM - Incident Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Incident Orchestration</label>
    <orchestratedStages>
        <name>Categorization_Stage</name>
        <label>Categorization Stage</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Incident_Status</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>Equals</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>IncidentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>statusValue</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>AIM_StatusEvaluation</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Complete_Categorization_Flow</name>
            <actionName>AIM_CategorizationScreenFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>AIM_Categorization</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Complete Categorization Flow</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Update_Categorization_Milestone</name>
            <actionName>AIM_UpdateMilestone</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Complete_Categorization_Flow.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>complete</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>milestoneName</name>
                <value>
                    <stringValue>Incident categorization</stringValue>
                </value>
            </inputParameters>
            <label>Update Categorization Milestone</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Update_Status_to_In_Progress</name>
            <actionName>AIM_UpdateIncidentStatus</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Update_Categorization_Milestone.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>statusFrom</name>
                <value>
                    <stringValue>Open</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>statusTo</name>
                <value>
                    <stringValue>In Progress</stringValue>
                </value>
            </inputParameters>
            <label>Update Status to In Progress</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Closure_Stage</name>
        <label>Closure Stage</label>
        <locationX>754</locationX>
        <locationY>827</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Set_Closure_Milestone</name>
            <actionName>AIM_UpdateMilestone</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>complete</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>milestoneName</name>
                <value>
                    <stringValue>Incident closed</stringValue>
                </value>
            </inputParameters>
            <label>Set Closure Milestone</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>First_Response</name>
        <label>First Response</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Incident_Status</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>Equals</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>IncidentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>statusValue</name>
            <value>
                <stringValue>New</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>AIM_StatusEvaluation</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Complete_FirstResponseFlow</name>
            <actionName>AIM_FirstResponseScreenFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>AIM_FirstResponse</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Complete First Response Flow</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Update_FirstResponseMilestone</name>
            <actionName>AIM_UpdateMilestone</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Complete_FirstResponseFlow.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>complete</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>milestoneName</name>
                <value>
                    <stringValue>Incident first response</stringValue>
                </value>
            </inputParameters>
            <label>Update First Response Milestone</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Update_Status_to_Open</name>
            <actionName>AIM_UpdateIncidentStatus</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Update_FirstResponseMilestone.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>statusFrom</name>
                <value>
                    <stringValue>New</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>statusTo</name>
                <value>
                    <stringValue>Open</stringValue>
                </value>
            </inputParameters>
            <label>Update Status to Open</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Notification_Stage</name>
        <label>Notification / In Progress Stage</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Incident_Status</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>Equals</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>IncidentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>statusValue</name>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>AIM_StatusEvaluation</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Complete_Notification_Flow</name>
            <actionName>AIM_NotificationScreenFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>AIM_Notification</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Complete Notification Flow</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Update_Notification_Milestone</name>
            <actionName>AIM_UpdateMilestone</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Complete_Notification_Flow.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>complete</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>milestoneName</name>
                <value>
                    <stringValue>Incident notification and deflection</stringValue>
                </value>
            </inputParameters>
            <label>Update Notification Milestone</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Update_Investigation_Milestone</name>
            <actionName>AIM_UpdateMilestone</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>complete</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IncidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>milestoneName</name>
                <value>
                    <stringValue>Incident investigation started</stringValue>
                </value>
            </inputParameters>
            <label>Update Investigation Milestone</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Refresh_Incident_Status</name>
        <label>Refresh Incident Status</label>
        <locationX>754</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>What_Status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_IncidentStatus</name>
            <actionName>AIM_GetIncidentStatus</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Get Incident Status</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Resolution_Stage</name>
        <label>Resolution Stage</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Incident_Status</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>Equals</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>IncidentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>statusValue</name>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>AIM_StatusEvaluation</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Complete_Completion_Flow</name>
            <actionName>AIM_CompletionScreenFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>AIM_Completion</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Complete Completion Flow</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_Incident_Status</targetReference>
        </connector>
        <object>Incident</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
