force-app/main/default/flows/AIM_CompletionScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>AIM_GetIncidentRelatedContacts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Vars</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>objContacts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Case_Vars</name>
        <label>Assign Case Vars</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>currentCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cases.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vars</name>
        <label>Assign Vars</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>objContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttachedCaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attached_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attachedAssetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attached_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Impact_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Something</name>
        <label>Do Something</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>objContacts</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Close_Cases</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>caseclose</name>
        <choiceText>Close all attached cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>caseclose</stringValue>
        </value>
    </choices>
    <choices>
        <name>communitybanner</name>
        <choiceText>Remove Community Banner(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>community</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>email</stringValue>
        </value>
    </choices>
    <choices>
        <name>ivr</name>
        <choiceText>Inform in customer service IVR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ivr</stringValue>
        </value>
    </choices>
    <choices>
        <name>knowledge</name>
        <choiceText>Create templated Knowledge Article</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>knowledge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Messaging</name>
        <choiceText>Messaging</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Messaging</stringValue>
        </value>
    </choices>
    <choices>
        <name>related</name>
        <choiceText>Customers attached to this incident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>related</stringValue>
        </value>
    </choices>
    <choices>
        <name>Report</name>
        <choiceText>Contacts returned in a specified report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>report</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slack</name>
        <choiceText>Slack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>slack</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Close_Cases</name>
        <label>Close Cases?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Update_Incident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isYesclosecases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Tasks</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>caseclose</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AttachedCaseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Channel_Notify</name>
        <label>Email Channel Notify?</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Send_Slack_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEmailYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_IncidentBroadcastCommunications</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Core_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Slack_Notification</name>
        <label>Send Slack Notification?</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Close_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSlackYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_IncidentBroadcastCommunications</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Slack</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Something</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AIM - Completion Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Completion Screen Flow</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <collectionReference>Get_Attached_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Attached_Assets</name>
        <label>Get Attached Assets</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IncidentRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attached_Cases</name>
        <label>Get Attached Cases</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attached_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attached_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Update_Incident</targetReference>
        </connector>
        <inputReference>casesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incident</name>
        <label>Update Incident</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Incident_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Incident</object>
    </recordUpdates>
    <screens>
        <name>Display_Impact_Summary</name>
        <label>Display Impact Summary</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Channel_Notify</targetReference>
        </connector>
        <fields>
            <name>SummaryText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89); font-size: 16px;&quot;&gt;{!Get_Incident.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 49, 89); background-color: rgb(255, 255, 255);&quot;&gt;{!contactCount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(29, 49, 89); background-color: rgb(255, 255, 255);&quot;&gt;impacted cases&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 49, 89); background-color: rgb(255, 255, 255);&quot;&gt;{!contactCount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(29, 49, 89); background-color: rgb(255, 255, 255);&quot;&gt;impacted assets&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 49, 89);&quot;&gt;{!contactCount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;impacted contacts&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Completion checklist&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Automation_Tasks</name>
            <choiceReferences>knowledge</choiceReferences>
            <choiceReferences>caseclose</choiceReferences>
            <choiceReferences>communitybanner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Automation Tasks</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Send_IncidentBroadcastCommunications</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Slack</choiceReferences>
            <choiceReferences>Messaging</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Send Completion Broadcast Communications</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incident_Complete</name>
        <label>Incident Complete</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SummaryText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(29, 49, 89);&quot;&gt;Flow Complete&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;Incident record and {!AttachedCaseCount} cases updated to closed status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bluecheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>clickfinishdisp</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;(click finish to submit)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Core_Email</name>
        <label>Send Core Email</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Send_Slack_Notification</targetReference>
        </connector>
        <flowName>AIM_SendCoreEmail</flowName>
        <inputAssignments>
            <name>objContacts</name>
            <value>
                <elementReference>objContacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatIdName</name>
            <value>
                <elementReference>Get_Incident.Subject</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>attachedAssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AttachedCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>casesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
